{% extends 'layout.twig' %}

{% block content %}

    <h1>Welcome to the blog!</h1>

    <p>Have a look at our articles:</p>

    <hr/>

    <div class="card-panel grey darken-3" style="color: white">
        <pre><code>code here</code></pre>
    </div>

{% endblock %}
